*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
background: url(D:\Angular projects\Home page\home-page\1387771.jpg);
  }
  nav{
    background: #021981;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 90px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
   
    height: calc(100vh - 80px);
  }
  .search-box{
      position:absolute;
      top: 50%;
      left:50%;
      transform:translate(-50%,-50%);
      background: #2f3640;
      height:40px;
      border-radius: 40px;
      padding:10px;
  }
  .search-box:hover > .search-txt{
    width:240px;
    padding:0  6px;
      
  }
  .search{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      float: right;
  }
  .search-btn{
      color:#e4630d;
      float:right;
      width: 40px;
      height:40px;
      border-radius: 50%;
      background: #2f3640;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .search-txt{
      border:none;
      background: none;
      outline:none;
      float: left;
      padding:0;
      font-size: 16px;
      transition: 0.4s;
      line-height: 40px;
      width:240px;
  }
