
body {
    background: #fff;
    color: #444;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: #50d8af;
    transition: 0.5s;
  }
  
  a:hover,
  a:active,
  a:focus {
    color: #51d8af;
    
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }
  
  /* Back to top button */
  
  .back-to-top {
    position: fixed;
    display: none;
    background: #50d8af;
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 2px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
  }
  
  .back-to-top:focus {
    background: #50d8af;
    color: #fff;
    outline: none;
  }
  
  .back-to-top:hover {
    background: #0c2e8a;
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  
  
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  
  #header {
    padding: 20px 0;
    height: 84px;
    transition: all 0.5s;
    z-index: 997;
    background: #fff;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
  }
  
  #header #logo h1 {
    font-size: 42px;
    margin: 0;
    padding: 0;
    
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  
  #header #logo h1 a {
    color: #0c2e8a;
    line-height: 1;
    display: inline-block;
  }
  
  #header #logo h1 a span {
    color: #50d8af;
  }
  
  #header #logo img {
    padding: 0;
    margin: 0;
  }
  
  /*--------------------------------------------------------------
  # Intro Section
  --------------------------------------------------------------*/
  
  #intro {
    width: 100%;
    height: 60vh;
    position: relative;
    
    background-size: cover;
  }
  
  #intro .intro-content {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .introh2{
    margin-top: 100px;
  }
  
  #intro .intro-content h2 {
    color: #0c2e8a;
    margin-bottom: 30px;
    font-size: 64px;
    font-weight: 700;
  }
  
  #intro .intro-content h2 span {
    color: #50d8af;
    
  }
  #intro .intro-content h3 {
    color: #0c2e8a;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
  }
  #intro .intro-content h4 {
    color: #50d8af;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 700;
  }
  
  #intro .intro-content .btn-get-started,
  #intro .intro-content .btn-projects {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
  }
  
  #intro .intro-content .btn-get-started {
    background: #0c2e8a;
    border: 2px solid #0c2e8a;
  }
  
  #intro .intro-content .btn-get-started:hover {
    background: none;
    color: #0c2e8a;
  }
  
  #intro .intro-content .btn-projects {
    background: #50d8af;
    border: 2px solid #50d8af;
  }
  
  #intro .intro-content .btn-projects:hover {
    background: none;
    color: #50d8af;
  }
  
  #intro #intro-carousel {
    z-index: 8;
  }
  
  #intro #intro-carousel::before {
    content: '';
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 7;
  }
  
  #intro #intro-carousel .item {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition-property: opacity;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  
  
  /* Mobile Nav body classes */
  
  body.mobile-nav-active {
    overflow: hidden;
  }
  
  body.mobile-nav-active #mobile-nav {
    left: 0;
  }
  
  body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  
  /* Sections Header
  --------------------------------*/
  
  .section-header {
    margin-bottom: 30px;
  }
  
  .section-header h2 {
    font-size: 32px;
    color: #0c2e8a;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
  }
  
  .section-header h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #50d8af;
    bottom: 0;
    left: 0;
  }
  
  .section-header p {
    padding: 0;
    margin: 0;
  }
  
  input[type=text],input[type=password],input[type=date], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=number] {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=email]{
    width: 91%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
  input[type=submit]  {
            width: 15%;
            background-color: green;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            }
  input[type=reset]   {
            width: 15%;
            background-color: green;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            }
  
  input[type=reset]:hover {
              background-color: darkgreen;
              }
  input[type=submit]:hover  {
                background-color: darkgreen;
                }
  #b			{
        background-color:lightblue;
        padding:2%;
        }
  #a {background-color:lightblue;}
  #left 	{
      float: left;
      width: 50%;
      }
      
      input[type=checkbox] {
      color:#fff;
      
  }
  
 