

<!------ Include the above in your HEAD tag ---------->

<header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">Strik<span>er</span></a></h1>
        
      </div>
      <section id="intro1">

          <div class="intro1-content" style="text-align:right; display:inline;">
            
            <div>
              
              <a href="/home" class="btn-get-started scrollto">Back To Home</a>
              
            </div>
          </div>
      
          
      
        </section>
      
    </div>
  </header>
  
  <div class="full">
      <section id="intro">
  
          <div class="intro-content">
            <h3>Welcome To Striker<br><br>Our Very Own Football Player Recomendation System. </h3>
            ------------------------------------------------------------------------------------------------------------------------------------<br><br>
            <h3>The System Will Recommend The Top Football Players For Each Position.
              More Than 18,000 Players With Their Statistical Records, The Machine Learning Model Will Recommend The Top Players.</h3>
            <div>
          ------------------------------------------------------------------------------------------------------------------------------------
              
            </div><br>
            <h3>There Are More Functionalities Like To Adding A Football Player, Searching A Football Player Through Our Database, 
              Updating A Player And Deleting A Player.</h3>
            <div>
          -------------------------------------------------------------------------------------------------------------------------------------
            </div><hr>
            
            <div>
              <a  class="btn-get-started scrollto">Meet Our Team </a>
              
            </div>
          </div>
      
          <div id="intro-carousel" class="owl-carousel" >
            <div class="item" style="background-image: url('img/1.jpg');"></div>
          </div>
      
        </section>
  <div id="container">
    <br>
                      <div class="row">
                          
                          <div class="col-md-4 col-sm-4">
                              <div class="team-member">
                                  <div class="team-img">
                                      <img src="assets/shenal.jpeg" alt="team member" class="img-responsive">
                                  </div>
                                  <div class="team-hover">
                                      <div class="desk">
                                          <h4>Hi There !</h4>
                                          <p>Shenal Anthony<br>Member 01<br>Back-End Developer<br></p>
                                      </div>
                                      <div class="s-link">
                                          <a href="#"><i class="fa fa-facebook"></i></a>
                                          <a href="#"><i class="fa fa-twitter"></i></a>   
                                          <a href="#"><i class="fa fa-google-plus"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="team-title">
                                  <h5>Shenal Anthony</h5>
                                  <span>Member 01</span>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-4">
                              <div class="team-member">
                                  <div class="team-img">
                                      <img src="assets/shane.jpeg" alt="team member" class="img-responsive">
                                  </div>
                                  <div class="team-hover">
                                      <div class="desk">
                                          <h4>Hello World</h4>
                                          <p>Shane Perera<br>Member 02<br>Data Science Analyst<br></p>
                                      </div>
                                      <div class="s-link">
                                          <a href="#"><i class="fa fa-facebook"></i></a>
                                          <a href="#"><i class="fa fa-twitter"></i></a>
                                          <a href="#"><i class="fa fa-google-plus"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="team-title">
                                  <h5>Shane Perera</h5>
                                  <span>Member 02</span>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-4">
                              <div class="team-member">
                                  <div class="team-img">
                                      <img src="assets/lahiru.jpeg" alt="team member" class="img-responsive">
                                  </div>
                                  <div class="team-hover">
                                      <div class="desk">
                                          <h4>I love to design</h4>
                                          <p>Lahiru Bhagya<br>Member 03<br>Frond-End Developer<br></p>
                                      </div>
                                      <div class="s-link">
                                          <a href="#"><i class="fa fa-facebook"></i></a>
                                          <a href="#"><i class="fa fa-twitter"></i></a>
                                          <a href="#"><i class="fa fa-google-plus"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="team-title">
                                  <h5>Lahiru Bhagya</h5>
                                  <span>Member 03</span>
                              </div>
                          </div>
                          
  
                      </div>
                      <div class="row">
                        
  
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="assets/kavindu.jpeg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>Kavindu Jayawardana<br>Member 04<br>Back-End Developer<br></p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Kavindu Jayawardana</h5>
                                <span>Member 04</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="assets/sanuri.jpeg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hello World</h4>
                                        <p>Sanuri Perera<br>Member 05<br>Data Science Analyst<br></p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Sanuri Perera</h5>
                                <span>Member 05</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="assets/gayani.jpeg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>I love to design</h4>
                                        <p>Gayani Abewickrama<br>Member 06<br>Front-End Developer<br></p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Gayani Abewickrama</h5>
                                <span>Member 06</span>
                            </div>
                        </div>
                        
  
                    </div>
  
  
                  </div>
  </div>
                  