.wrapper{
    width: 400px;
    height:420px;
    color:#000;
    top:50%;
    left: 50%;
    margin:auto;
    background: rgba(0,0,0,0,.8);
    box-sizing: border-box;
    color: #fff;
    margin-top: 100px;
    border-radius:20px;
    margin-top: 100px;
}
h1{

    text-align: center;

}
input[type=text],input[type=password]{
    widows: 100%;
    box-sizing: border-box;
    padding:12px 5px;
    background: rgba(0,0,0,0,10);
    outline: none;
    border:none;
    border-bottom: 1px dott #fff;
    color:#fff;
    border-radius: 5px;
    margin:5px;
    font-weight: bold;
}
input[type=sumbit]{
    width:100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline:none;
    border:none;
}