<body id="body">

  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">Strik<span>er</span></a></h1>
        
      </div>

      
    </div>
  </header>
  
  <section id="intro">

    <div class="intro-content">
      <h2>Delete<span> Player</span></h2>
      
      <h4 id="here">Delete Your Player From Here</h4>

    </div>
    
		
  </section>
  
  <section id="b">
	<div class="searchBox">

		<input class="searchInput"type="text" name="" placeholder="Enter Player's ID">
		<button class="searchButton" href="#">
			<i class="material-icons">
				search
			</i>
		</button>
  </div>
  
  </section>

  <section>
    <table>
      <tr>
        <th>Player ID</th>
        <th>Player name</th>
        
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th><button type=submit value=Remove>Delete</button></th>
      </tr>
  
     </table>
    </section>

  
  
</body>