
body {
    background: #fff;
    color: #444;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: #50d8af;
    transition: 0.5s;
  }
  
  a:hover,
  a:active,
  a:focus {
    color: #51d8af;
    
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }
  
  /* Back to top button */
  
  .back-to-top {
    position: fixed;
    display: none;
    background: #50d8af;
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 2px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
  }
  
  .back-to-top:focus {
    background: #50d8af;
    color: #fff;
    outline: none;
  }
  
  .back-to-top:hover {
    background: #0c2e8a;
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  
  
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  
  #header {
    padding: 20px 0;
    height: 84px;
    transition: all 0.5s;
    z-index: 997;
    background: #fff;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
  }
  
  #header #logo h1 {
    font-size: 42px;
    margin: 0;
    padding: 0;
    
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  
  #header #logo h1 a {
    color: #0c2e8a;
    line-height: 1;
    display: inline-block;
  }
  
  #header #logo h1 a span {
    color: #50d8af;
  }
  
 
  
  /*--------------------------------------------------------------
  # Intro Section
  --------------------------------------------------------------*/
  
  #intro {
    width: 100%;
    height: 60vh;
    position: relative;
    
    background-size: cover;
  }
  
  #intro .intro-content {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .introh2{
    margin-top: 100px;
  }
  
  #intro .intro-content h2 {
    color: #0c2e8a;
    margin-bottom: 30px;
    font-size: 64px;
    font-weight: 700;
  }
  
  #intro .intro-content h2 span {
    color: #50d8af;
    
  }
  #intro .intro-content h3 {
    color: #0c2e8a;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
  }
  #intro .intro-content h4 {
    color: #50d8af;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 700;
  }
  
  /*--------------------------------------------------------------
  # Search bar
  --------------------------------------------------------------*/
  
  
  #b{
    position: absolute;
    margin-top: -50px;
    margin-left: 970px;
  }
  
  
  .searchBox {
      position: absolute;
      top: 50%;
      left: 50%;
      transform:  translate(-50%,50%);
      background: #2f3640;
      height: 40px;
      border-radius: 40px;
      padding: 10px;
  
  }
  
  .searchBox:hover > .searchInput {
      width: 240px;
      padding: 0 6px;
  }
  
  .searchBox:hover > .searchButton {
    background: white;
    color : #2f3640;
    float: right;
  }
  
  .searchButton {
      color: white;
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #2f3640;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.4s;
      
  }
  
  .searchInput {
      border:none;
      background: none;
      outline:none;
      float:left;
      padding: 0;
      color: white;
      font-size: 16px;
      transition: 0.4s;
      line-height: 40px;
      width: 0px;
  
  }
  
  @media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
      width: 150px;
      padding: 0 6px;
  }
  }

  table, th, td
{
border-collapse:collapse;
border: 2px solid #4a8d19;
}
th
{
padding:10px;
}
td
{
padding:10px;
text-align:left;
color:#000000;
}
  
 
 