<!--<div class ="wrapper">
  <h1>Sign in</h1>
  <form action="">
    <input type ="text" placeholder = "UserName">User Name
    <input type ="password" placeholder="Password"> 
    <input type ="submit" value="LOGIN">

  </form>
  <div class ="bottom-text">
    <input type ="checkbox" name ="remember" checked="ckecked">Remember me 
    <a href="#" >Forgot password ?</a>
  </div>
  <div class ="socials">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-pinterest"></i></a>
    <a href="#"><i class="fa fa-linkedin 64"></i></a>

  </div>
</div>-->