<body id="body">

    <header id="header">
      <div class="container">
  
        <div id="logo" class="pull-left">
          <h1><a href="#body" class="scrollto">Strik<span>er</span></a></h1>
          
        </div>
        <section id="intro1">
  
            <div class="intro1-content" style="text-align:right; display:inline;">
              
              <div>
                
                <a href="/menu" class="btn-get-started scrollto">Back To Menu</a>
                <a href="/home" class="btn-get-started scrollto">Log-Out</a>
                
              </div>
            </div>
        
            
        
          </section>
        
      </div>
    </header>
    
    <section id="intro">
  
      <div class="intro-content">
        <h2>Add<span> Player</span></h2>
        
        <h4 id="here">Add Your Player From Here</h4>
  
      </div>
      
          
    </section>
    <section>
      
          <form>
              <fieldset id="b">
                  
                      <table border="0" cellspacing="60">
                  
                              <tr>
                                  <h3>Player Details</h3>
                              </tr>
                              <tr>
                                <!--<td >Player's Photo<br>
                                    <input type="file" name="Photo" onfocus="this.value=''" placeholder="Photo" [formControl]="PhotoFormControl">
                                </td>-->
                                  <td >Player's Short Name<br>
                                      <input type="text" name="Short_name" value="Short_name" placeholder="First name" [formControl]="Short_nameFormControl">
                                  </td>
                                  <td >Player's Long Name<br>
                                      <input type="text" name="Long_name" value="Long_name" placeholder="Last name" [formControl]="Long_nameFormControl">
                                  </td>
                                  
                                  <td>Player's Age
                                      <input type="number" name="Age" value="Age" placeholder="Age" [formControl]="AgeFormControl">  
                                  </td>
                                  <td>Player's Height
                                    <input type="number" name="Height" value="Height" placeholder="Height" [formControl]="HeightFormControl">  
                                </td>
                                <td>Player's Weight
                                    <input type="number" name="Weight" value="Weight" placeholder="Weight" [formControl]="WeightFormControl">  
                                </td>
                                  <td>Player's Nationality
                                    <input type="text" name="Nationality" value="Nationality" placeholder="Nationality" [formControl]="NationalityFormControl">
  
                                  </td>
                                  
                                <td>Player's Club
                                    <input type="text" name="Club" value="Club" placeholder="Club" [formControl]="ClubFormControl">  
                                </td>
                              </tr>
                              <tr>
                                  
                                  
                              
                                <td>Player's Overall
                                    <input type="number" name="Overall" value="Overall" placeholder="Overall" [formControl]="OverallFormControl">  
                                </td>
                                <td>Player's Potential
                                    <input type="number" name="Potential" value="Potential" placeholder="Potential" [formControl]="PotentialFormControl">  
                                </td>
                                <td>Player's value
                                    $ <input type="number" name="Value" value="Value" min="0.00" max="10000000000.00" step="10000" placeholder="$ 0" [formControl]="ValueFormControl" />
                                </td>
                            
                                <td>Player's Wage
                                    $ <input type="number" name="Wage"  value="Wage" min="0.00" max="10000000000.00" step="10000" placeholder="$ 0"[formControl]="WageFormControl" />
                                </td>
                                <td>Preferred Foot
                                    <input type="text" name="Preferred_Foot" value="Preferred_Foot" placeholder="Preffered Foot" [formControl]="Preferred_FootFormControl">

                                </td>
                                  
                              
                                  
                              </tr>
                              <hr>
                              <tr>
                                  <h3>Player Statistics</h3>
                              </tr>
                              <tr>
                                <td>International Reputation
                                    <input type="number" name="International_Reputation" value="International_Reputation"  placeholder="Reputaion" [formControl]="International_ReputationFormControl">  
                                </td>
                            
                                  <td>Weak Foot
                                    <input type="number" name="Weak_Foot" value="Weak_Foot" placeholder="Week Foot" [formControl]="Weak_FootFormControl">
  
                                  </td>
                              
                                  <td>Skill Moves
                                    <input type="number" name="Skill_Moves" value="Skill_Moves" placeholder="Skill moves" [formControl]="Skill_MovesFormControl">
  
                                  </td>

                                  <td>Player's position
                                    <input type="text" name="Position" value="Position" placeholder="Position" [formControl]="PositionFormControl">

                                </td>
                      
                                  <td>Jersey Number
                                      No. <input type="number" name="Jersey_Number" value="Jersey_Number" min="0" max="100" step="1" placeholder="0"  [formControl]="Jersey_NumberFormControl" />
                                  </td>
                                  <td> Contract Valid Until 
                                    (%) <input type="number" name="Contract_Valid_Until" value="Contract_Valid_Until"  placeholder="date" [formControl]="Contract_Valid_UntilFormControl" />
                                 </td>
                                  
                                  <td>Crossing
                                      (%) <input type="number" name="Crossing" value="Crossing" min="0" max="100" step="5" placeholder="0" [formControl]="CrossingFormControl" />
                                  </td>	
                              </tr>
                              <tr>
                                  <td>Finishing
                                      (%) <input type="number" name="Finishing" value="Finishing" min="0" max="100" step="5" placeholder="0" [formControl]="FinishingFormControl" />
                                  </td>
                                  <td>Heading Accuracy
                                      (%) <input type="number" name="Heading_Accuracy" value="Heading_Accuracy" min="0" max="100" step="5" placeholder="0" [formControl]="Heading_AccuracyFormControl" />
                                  </td>	
                                  <td>Short Passing
                                      (%) <input type="number" name="Short_passing"  value="Short_passing" min="0" max="100" step="5" placeholder="0" [formControl]="Short_PassingFormControl" />
                                  </td>
                                  <td>Volleys
                                      (%) <input type="number" name="Volleys" value="Volleys" min="0" max="100" step="5" placeholder="0" [formControl]="VolleysFormControl" />
                                  </td>
                                  <td>Dribbling
                                      (%) <input type="number" name="Dribbling" value="Dribbling" min="0" max="100" step="5" placeholder="0"  [formControl]="DribblingFormControl"/>
                                  </td>
                              </tr>
                              
                              <tr>
                                  <td>Curve
                                      (%) <input type="number" name="Curve" value="Curve" min="0" max="100" step="5" placeholder="0" [formControl]="CurveFormControl" />
                                  </td>
                                  <td>Free Kick Accuracy
                                      (%) <input type="number" name="FK_accuracy" value="FK_accuracy" min="0" max="100" step="5" placeholder="0" [formControl]="FK_AccuracyFormControl" />
                                  </td>
                                  <td>Long Passing
                                      (%) <input type="number" name="Long_passing" value="Long_passing" min="0" max="100" step="5" placeholder="0" [formControl]="Long_PassingFormControl" />
                                  </td>
                                  <td>Ball Control
                                      (%) <input type="number" name="Ball_control" value="Ball_control" min="0" max="100" step="5" placeholder="0"  [formControl]="Ball_ControlFormControl"/>
                                  </td>
                                  <td>Acceleration
                                      (%) <input type="number" name="Acceleration" value="Acceleration" min="0" max="100" step="5" placeholder="0"  [formControl]="AccelerationFormControl"/>
                                  </td>
                              </tr>
  
                              <tr>
                                  <td>Sprint Speed
                                      (KM/H) <input type="number" name="Sprint_speed" value="Sprint_speed" min="0" max="300" step="5" placeholder="0" [formControl]="Sprint_SpeedFormControl" />
                                  </td>
                                  <td>Agility
                                      (%) <input type="number" name="Agility" value="Agility" min="0" max="100" step="5" placeholder="0"  [formControl]="AgilityFormControl"/>
                                  </td>
                                  <td>Reactions
                                      (%) <input type="number" name="Reactions" value="Reactions" min="0" max="100" step="5" placeholder="0" [formControl]="ReactionsFormControl" />
                                  </td>
                                  <td>Balance
                                      (%) <input type="number" name="Balance" value="Balance" min="0" max="100" step="5" placeholder="0" [formControl]="BalanceFormControl" />
                                  </td>
                                  <td>Shot Power
                                      (%) <input type="number" name="Shot_power" value="Shot_power" min="0" max="100" step="5" placeholder="0" [formControl]="Shot_PowerFormControl" />
                                  </td>
                              </tr>
  
                              <tr>
                                  <td>Jumping
                                      (%) <input type="number" name="Jumping" value="Jumping" min="0" max="100" step="5" placeholder="0" [formControl]="JumpingFormControl" />
                                  </td>
                                  <td>Stamina
                                      (%) <input type="number" name="Stamina" value="Stamina" min="0" max="100" step="5" placeholder="0" [formControl]="StaminaFormControl" />
                                  </td>
                                  <td>Strength
                                      (%) <input type="number" name="Strength" value="Strength" min="0" max="100" step="5" placeholder="0" [formControl]="StrengthFormControl" />
                                  </td>
                                  <td>Long Shots
                                      (%) <input type="number" name="Long_shots" value="Long_shots" min="0" max="100" step="5" placeholder="0" [formControl]="Long_ShotsFormControl" />
                                  </td>
                                  <td>Aggression
                                      (%) <input type="number" name="Aggression" value="Aggression" min="0" max="100" step="5" placeholder="0" [formControl]="AggressionFormControl" />
                                  </td>
                              </tr>
  
                              <tr>
                                  <td>Interceptions
                                      (%) <input type="number" name="Interceptions"  value="Interceptions" min="0" max="100" step="5" placeholder="0" [formControl]="InterceptionsFormControl" />
                                  </td>
                                  <td>Positioning
                                      (%) <input type="number" name="Positioning" value="Positioning" min="0" max="100" step="5" placeholder="0" [formControl]="PositioningFormControl" />
                                  </td>
                                  <td>Vision
                                      (%) <input type="number" name="Vision" value="Vision" min="0" max="100" step="5" placeholder="0" [formControl]="VisionFormControl" />
                                  </td>
                                  <td>Penalties
                                      (%) <input type="number" name="Penaltities" value="Penaltities" min="0" max="100" step="5" placeholder="0" [formControl]="PenaltiesFormControl" />
                                  </td>
                                  <td>Composure
                                      (%) <input type="number" name="Composure" value="Composure" min="0" max="100" step="5" placeholder="0"  [formControl]="ComposureFormControl"/>
                                  </td>
                              </tr>
  
                              <tr>
                                  <td>Marking
                                      (%) <input type="number" name="Marking" value="Marking" min="0" max="100" step="5" placeholder="0" [formControl]="MarkingFormControl" />
                                  </td>
                                  <td>Standing Tackle
                                      (%) <input type="number" name="standing_Tackle" value="standing_Tackle" min="0" max="100" step="5" placeholder="0"  [formControl]="Standing_TackleFormControl"/>
                                  </td>
                                  <td>Sliding Tackle
                                      (%) <input type="number" name="Sliding_Tackle" value="Sliding_Tackle" min="0" max="100" step="5" placeholder="0" [formControl]="Sliding_TackleFormControl" />
                                  </td>
                                  <td>Goal-Keeper Diving
                                      (%) <input type="number" name="GK_Diving" value="GK_Diving" min="0" max="100" step="5" placeholder="0" [formControl]="GK_DivingFormControl" />
                                  </td>
                                  <td>Goal-Keeper Handling
                                      (%) <input type="number" name="GK_Handling" value="GK_Handling" min="0" max="100" step="5" placeholder="0"  [formControl]="GK_HandlingFormControl"/>
                                  </td>
                              </tr>
  
                              <tr>
                                  <td>Goal-Keeper Kicking
                                      (%) <input type="number" name="GK_Kicking" value="GK_Kicking" min="0" max="100" step="5" placeholder="0"  [formControl]="GK_KickingFormControl"/>
                                  </td>
                                  <td>Goal-Keeper Positioning
                                      (%) <input type="number" name="GK_Positioning" value="GK_Positioning" min="0" max="100" step="5" placeholder="0"  [formControl]="GK_PositioningFormControl"/>
                                  </td>
                                  <td>Goal-Keeper Reflexes
                                      (%) <input type="number" name="GKReflexes" value="GKReflexes" min="0" max="100" step="5" placeholder="0" [formControl]="GKReflexesFormControl" />
                                  </td>
                              </tr>
  
                      </table>
              </fieldset>
                      <fieldset id="a">
                          <div id="left">
                            <button type="submit" class="btn btn-primary btn-block" value="signup" name="signup" (click)="addNewPlayerDetails()"> Create Account  </button>
                          
                              <button type="reset" class="btn btn-primary btn-block" value="Reset"></button>
                              
                          </div>
                      </fieldset>
          </form>
  
                  
          
    </section>
    
  
    
    
  
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  
   
    
  </body>


