<div class="full">
    <header id="header">
      <div class="container">
    
        <div id="logo" class="pull-left">
          
          <h1><a href="#body" class="scrollto">Strik<span>er</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>
    
        
      </div>
    </header>
    
    <div class="page">
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__group"><a href="/add-player" class="menu__link">Add  Player</a></li>
          <li class="menu__group"><a href="/delete-player" class="menu__link">Delete  Player</a></li>
          <li class="menu__group"><a href="/update-player" class="menu__link">Update  PLayer</a></li>
          <li class="menu__group"><a href="/ratings" class="menu__link">Rate  PLayer</a></li>
        </ul>
      </nav>
    </div>
    </div>
    