<div class="full">
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">Strik<span>er</span></a></h1>
        
      </div>
      <section id="intro1">

          <div class="intro1-content" style="text-align:right; display:inline;">
            
            <div>
              
              <a href="/home" class="btn-get-started scrollto">Back To Home</a>
              <a href="/home" class="btn-get-started scrollto">Log-Out</a>
              
            </div>
          </div>
      
          
      
        </section>
      
    </div>
  </header>
    
    <div class="page">
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__group"><a href="/add-player" class="menu__link">Add  Player</a></li>
          <li class="menu__group"><a href="/ratings" class="menu__link">Player Ratings</a></li>
          <li class="menu__group"><a href="/search" class="menu__link">Search Player</a></li>
          <li class="menu__group"><a href="/view-players" class="menu__link">Player Statictics</a></li>
        </ul>
      </nav>
    </div>
    </div>
    