<router-outlet></router-outlet>
<app-sign-in></app-sign-in>
<nav>
  <!--<div class = "search-box">
    <input class="search-txt" type ="text" name = "" placeholder="Type to search">
    <a class = "search-btn" href="#">
      <i class="fas fa-search"></i>       
    </a> 
  </div> -->      
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>     
  <label class="logo">Striker</label> 
  <ul>  
    <li><a class="active" href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Sign-in </a></li>
    <li><a href="#">Register </a></li>
    <li><a href="#">Contact</a></li>             
  </ul>   
</nav>