
<body id="body">

    <header id="header">
      <div class="container">
  
        <div id="logo" class="pull-left">
          <h1><a href="#body" class="scrollto">Strik<span>er</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>
  
        
      </div>
    </header>
    
    <section id="intro">
  
      <div class="intro-content">
        <h2>Welcome To <span>Striker</span><br><br>- The Football Player Recommendation System -</h2><br>
        <h3>Already Have An Account ? Go Log In...!!!</h3>
        <div>
          <a href="/login" class="btn-get-started scrollto">Log-In </a>
          
        </div><br>
        <h3>New To The System ? Then Sign Up for More..!!!</h3>
        <div>
          <a href="/signup" class="btn-get-started scrollto">Sign-Up </a>
        </div><hr><br><br>
        <h4>...See What you can do as a Guest...</h4>
        <div>
          
          
          <a href="/about-us" class="btn-get-started2 scrollto">About-Us</a>
        </div>
      </div>
  
      <div id="intro-carousel" class="owl-carousel" >
        <div class="item" style="background-image: url('img/1.jpg');"></div>
      </div>
  
    </section>
  
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    
  </body>
  
  
