<!--<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>     
  <label class="logo">Striker</label> 
  <ul>  
    <li><a class="active" href="#">Home</a></li>
    <li><a href="/add-player">Add Player</a></li>
    <li><a href="/update-player">Update Player</a></li>
    <li><a href="/delete-player">Delete Player</a></li>
    <li><a routerLink="/search"routerLinkActive = "active">Search</a></li>
    <li><a href="/average">Average Calculation</a></li>
    <li><a href="/signup">Signup </a></li>
    <li><a href="/login ">Login</a></li>  
    <li><a href="#">Contact</a></li> 
    <div class = "search-box">
      <input class="search-txt" type ="text" name = "" placeholder="Type to search">
      <a class = "search-btn" href="#">
        <i class="fas fa-search"></i>       
      </a> 
    </div>              
  </ul>   
</nav>-->

<body id="body">

    <header id="header">
      <div class="container">
  
        <div id="logo" class="pull-left">
          <h1><a href="#body" class="scrollto">Strik<span>er</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>
  
        
      </div>
    </header>
    
    <section id="intro">
  
      <div class="intro-content">
        <h2>Welcome To <span>Striker</span><br><br>- The Football Player Recommendation System -</h2><br>
        <h3>Already Have An Account ? Go Log In...!!!</h3>
        <div>
          <a href="/login" class="btn-get-started scrollto">Log-In </a>
          
        </div><br>
        <h3>New To The System ? Then Sign Up for More..!!!</h3>
        <div>
          <a href="/signup" class="btn-get-started scrollto">Sign-Up </a>
        </div><hr><br><br>
        <h4>...See What you can do as a Guest...</h4>
        <div>
          <a href="#about" class="btn-get-started scrollto">Search Player </a>
          <a href="#portfolio" class="btn-get-started2 scrollto">View Ratings</a>
        </div>
      </div>
  
      <div id="intro-carousel" class="owl-carousel" >
        <div class="item" style="background-image: url('img/1.jpg');"></div>
      </div>
  
    </section>
  
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    
  </body>
  
  
