
<header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">Strik<span>er</span></a></h1>
        
      </div>
      <section id="intro1">

          <div class="intro1-content" style="text-align:right; display:inline;">
            
            <div>
              
              <a href="/menu" class="btn-get-started scrollto">Back To Menu</a>
              <a href="/home" class="btn-get-started scrollto">Log-Out</a>
              
            </div>
          </div>
      
          
      
        </section>
      
    </div>
  </header>
<div class="container">
    <table class="table" >
      <thead>
          <tr>
        
            <th>Short_name</th>
             <th>Long_name</th>
              <th>Age</th>
              <th>Height</th>
              <th>Weight</th>
              <th>Nationality</th>
              <th>Club</th>
              <th>Overall</th>
              <th>Potential</th>
              <th>Value</th>
              <th>Wage</th>
              <th>Preferred_Foot</th>
              <th>International_Reputation</th>
              <th>Weak_Foot</th>
              <th>Skill_Moves</th>
              <th>Position</th>
              <th>Jersey_Number</th>
              <th>Contract_Valid_Until</th>
              <th>Crossing</th>
              <th>Finishing</th>
              <th>Heading_Accuracy</th>
              <th>Short_Passing</th>
              <th>Volleys</th>
              <th>Dribbling</th>
              <th>Curve</th>
              <th>FK_Accuracy</th>
              <th>Long_Passing</th>
              <th> Ball_Control</th>
              <th>Acceleration</th>
              <th>Sprint_Speed</th>
              <th>Agility</th>
              <th>Reactions</th>
              <th>Balance</th>
              <th>Shot_Power</th>
              <th>Jumping</th>
              <th>Stamina</th>
              <th>Strength</th>
              <th>Long_Shots</th>
              <th>Aggression</th>
              <th>Interceptions</th>
              <th>Positioning</th>
              <th>Vision</th>
              <th>Penalties</th>
              <th>Composure</th>
              <th>Marking</th>
              <th>Standing_Tackle</th>
              <th>Sliding_Tackle</th>
              <th>GK_Diving</th>
              <th>GK_Handling</th>
              <th>GK_Kicking</th>
              <th>GK_Positioning</th>
              <th>GKReflexes</th>
             
          </tr>
      </thead>
      <tbody >
    
        
           <tr *ngFor = "let Update of Store">
             
            
             <td >{{Update.Short_name}}</td>     
            <td>{{Update.Long_name}}</td>
            <td>{{Update.Age}}</td>
            <td>{{Update.Height}}</td>
            <td>{{Update.Weight}}</td>
            <td>{{Update.Nationality}}</td>
           <td>{{Update.Club}}</td>
            <td>{{Update.Overall}}</td>
            <td>{{Update.PotentialPotential}}</td>
            <td>{{Update.Value}}</td>
            <td>{{Update.Wage}}</td>
            <td>{{Update.Preferred_Foot}}</td>
            <td>{{Update.International_Reputation}}</td>
            <td>{{Update.Weak_Foot}}</td>
            <td>{{Update.Skill_Moves}}</td>
            <td>{{Update.Position}}</td>
            <td>{{Update.Jersey_Number}}</td>
            <td>{{Update.Contract_Valid_Until}}</td>
            <td>{{Update.Crossing}}</td>
            <td>{{Update.Finishing}}</td>
            <td>{{Update.Heading_Accuracy}}</td>
            <td>{{Update.Short_Passing}}</td>
            <td>{{Update.Volleys}}</td>
            <td>{{Update.Dribbling}}</td>
            <td>{{Update.Curve}}</td>
            <td>{{Update.FK_Accuracy}}</td>
            <td>{{Update.Long_Passing}}</td>
            <td> {{Update.Ball_Control}}</td>
            <td>{{Update.Acceleration}}</td>
            <td>{{Update.Sprint_Speed}}</td>
            <td>{{Update.Agility}}</td>
            <td>{{Update.Reactions}}</td>
            <td>{{Update.Balance}}</td>
            <td>{{Update.Shot_Power}}</td>
            <td>{{Update.Jumping}}</td>
            <td>{{Update.Stamina}}</td>
            <td>{{Update.Strength}}</td>
            <td>{{Update.Long_Shots}}</td>
            <td>{{Update.Aggression}}</td>
            <td>{{Update.Interceptions}}</td>
            <td>{{Update.Positioning}}</td>
            <td>{{Update.Vision}}</td>
            <td>{{Update.Penalties}}</td>
            <td>{{Update.Composure}}</td>
            <td>{{Update.Marking}}</td>
            <td>{{Update.Standing_Tackle}}</td>
            <td>{{Update.Sliding_Tackle}}</td>
            <td>{{Update.GK_Diving}}</td>
            <td>{{Update.GK_Handling}}</td>
            <td>{{Update.GK_Kicking}}</td>
            <td>{{Update.GK_Positioning}}</td>
            <td>{{Update.GKReflexes}}</td> 
            
            
          </tr>
      </tbody>
    </table>
    </div>
    
   
      
  
  <router-outlet></router-outlet>
