<body id="body">

  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">Strik<span>er</span></a></h1>
        
      </div>

      
    </div>
  </header>
  
  <section id="intro">

    <div class="intro-content">
      <h2>Add<span> Player</span></h2>
      
      <h4 id="here">Add Your Player From Here</h4>

    </div>
    
		
  </section>
  <section>
    
		<form>
			<fieldset id="b">
				
					<table border="0" cellspacing="60">
				
							<tr>
								<h3>Player Details</h3>
							</tr>
							<tr>
								<td >Player's First Name<br>
									<input type="text" name="first_name" onfocus="this.value=''" placeholder="ID">
								</td>
								<td >Player's Second Name<br>
									<input type="text" name="second_name" onfocus="this.value=''" placeholder="ID">
								</td>
								<td >Player's Second Name<br>
									<input type="date" id="birthday" name="birthday">
								</td>
								<td>Player's Age
									<input type="text" name="age" onfocus="this.value=''" placeholder="Age">  
								</td>
								<td>Player's Nationality
									<select name="nationality">
										<option value="">-- select one --</option>
										<option value="afghan">Afghan</option>
										<option value="albanian">Albanian</option>
										<option value="algerian">Algerian</option>
										<option value="american">American</option>
										<option value="andorran">Andorran</option>
										<option value="angolan">Angolan</option>
										<option value="antiguans">Antiguans</option>
										<option value="argentinean">Argentinean</option>
										<option value="armenian">Armenian</option>
										<option value="australian">Australian</option>
										<option value="austrian">Austrian</option>
										<option value="azerbaijani">Azerbaijani</option>
										<option value="bahamian">Bahamian</option>
										<option value="bahraini">Bahraini</option>
										<option value="bangladeshi">Bangladeshi</option>
										<option value="barbadian">Barbadian</option>
										<option value="barbudans">Barbudans</option>
										<option value="batswana">Batswana</option>
										<option value="belarusian">Belarusian</option>
										<option value="belgian">Belgian</option>
										<option value="belizean">Belizean</option>
										<option value="beninese">Beninese</option>
										<option value="bhutanese">Bhutanese</option>
										<option value="bolivian">Bolivian</option>
										<option value="bosnian">Bosnian</option>
										<option value="brazilian">Brazilian</option>
										<option value="british">British</option>
										<option value="bruneian">Bruneian</option>
										<option value="bulgarian">Bulgarian</option>
										<option value="burkinabe">Burkinabe</option>
										<option value="burmese">Burmese</option>
										<option value="burundian">Burundian</option>
										<option value="cambodian">Cambodian</option>
										<option value="cameroonian">Cameroonian</option>
										<option value="canadian">Canadian</option>
										<option value="cape verdean">Cape Verdean</option>
										<option value="central african">Central African</option>
										<option value="chadian">Chadian</option>
										<option value="chilean">Chilean</option>
										<option value="chinese">Chinese</option>
										<option value="colombian">Colombian</option>
										<option value="comoran">Comoran</option>
										<option value="congolese">Congolese</option>
										<option value="costa rican">Costa Rican</option>
										<option value="croatian">Croatian</option>
										<option value="cuban">Cuban</option>
										<option value="cypriot">Cypriot</option>
										<option value="czech">Czech</option>
										<option value="danish">Danish</option>
										<option value="djibouti">Djibouti</option>
										<option value="dominican">Dominican</option>
										<option value="dutch">Dutch</option>
										<option value="east timorese">East Timorese</option>
										<option value="ecuadorean">Ecuadorean</option>
										<option value="egyptian">Egyptian</option>
										<option value="emirian">Emirian</option>
										<option value="equatorial guinean">Equatorial Guinean</option>
										<option value="eritrean">Eritrean</option>
										<option value="estonian">Estonian</option>
										<option value="ethiopian">Ethiopian</option>
										<option value="fijian">Fijian</option>
										<option value="filipino">Filipino</option>
										<option value="finnish">Finnish</option>
										<option value="french">French</option>
										<option value="gabonese">Gabonese</option>
										<option value="gambian">Gambian</option>
										<option value="georgian">Georgian</option>
										<option value="german">German</option>
										<option value="ghanaian">Ghanaian</option>
										<option value="greek">Greek</option>
										<option value="grenadian">Grenadian</option>
										<option value="guatemalan">Guatemalan</option>
										<option value="guinea-bissauan">Guinea-Bissauan</option>
										<option value="guinean">Guinean</option>
										<option value="guyanese">Guyanese</option>
										<option value="haitian">Haitian</option>
										<option value="herzegovinian">Herzegovinian</option>
										<option value="honduran">Honduran</option>
										<option value="hungarian">Hungarian</option>
										<option value="icelander">Icelander</option>
										<option value="indian">Indian</option>
										<option value="indonesian">Indonesian</option>
										<option value="iranian">Iranian</option>
										<option value="iraqi">Iraqi</option>
										<option value="irish">Irish</option>
										<option value="israeli">Israeli</option>
										<option value="italian">Italian</option>
										<option value="ivorian">Ivorian</option>
										<option value="jamaican">Jamaican</option>
										<option value="japanese">Japanese</option>
										<option value="jordanian">Jordanian</option>
										<option value="kazakhstani">Kazakhstani</option>
										<option value="kenyan">Kenyan</option>
										<option value="kittian and nevisian">Kittian and Nevisian</option>
										<option value="kuwaiti">Kuwaiti</option>
										<option value="kyrgyz">Kyrgyz</option>
										<option value="laotian">Laotian</option>
										<option value="latvian">Latvian</option>
										<option value="lebanese">Lebanese</option>
										<option value="liberian">Liberian</option>
										<option value="libyan">Libyan</option>
										<option value="liechtensteiner">Liechtensteiner</option>
										<option value="lithuanian">Lithuanian</option>
										<option value="luxembourger">Luxembourger</option>
										<option value="macedonian">Macedonian</option>
										<option value="malagasy">Malagasy</option>
										<option value="malawian">Malawian</option>
										<option value="malaysian">Malaysian</option>
										<option value="maldivan">Maldivan</option>
										<option value="malian">Malian</option>
										<option value="maltese">Maltese</option>
										<option value="marshallese">Marshallese</option>
										<option value="mauritanian">Mauritanian</option>
										<option value="mauritian">Mauritian</option>
										<option value="mexican">Mexican</option>
										<option value="micronesian">Micronesian</option>
										<option value="moldovan">Moldovan</option>
										<option value="monacan">Monacan</option>
										<option value="mongolian">Mongolian</option>
										<option value="moroccan">Moroccan</option>
										<option value="mosotho">Mosotho</option>
										<option value="motswana">Motswana</option>
										<option value="mozambican">Mozambican</option>
										<option value="namibian">Namibian</option>
										<option value="nauruan">Nauruan</option>
										<option value="nepalese">Nepalese</option>
										<option value="new zealander">New Zealander</option>
										<option value="ni-vanuatu">Ni-Vanuatu</option>
										<option value="nicaraguan">Nicaraguan</option>
										<option value="nigerien">Nigerien</option>
										<option value="north korean">North Korean</option>
										<option value="northern irish">Northern Irish</option>
										<option value="norwegian">Norwegian</option>
										<option value="omani">Omani</option>
										<option value="pakistani">Pakistani</option>
										<option value="palauan">Palauan</option>
										<option value="panamanian">Panamanian</option>
										<option value="papua new guinean">Papua New Guinean</option>
										<option value="paraguayan">Paraguayan</option>
										<option value="peruvian">Peruvian</option>
										<option value="polish">Polish</option>
										<option value="portuguese">Portuguese</option>
										<option value="qatari">Qatari</option>
										<option value="romanian">Romanian</option>
										<option value="russian">Russian</option>
										<option value="rwandan">Rwandan</option>
										<option value="saint lucian">Saint Lucian</option>
										<option value="salvadoran">Salvadoran</option>
										<option value="samoan">Samoan</option>
										<option value="san marinese">San Marinese</option>
										<option value="sao tomean">Sao Tomean</option>
										<option value="saudi">Saudi</option>
										<option value="scottish">Scottish</option>
										<option value="senegalese">Senegalese</option>
										<option value="serbian">Serbian</option>
										<option value="seychellois">Seychellois</option>
										<option value="sierra leonean">Sierra Leonean</option>
										<option value="singaporean">Singaporean</option>
										<option value="slovakian">Slovakian</option>
										<option value="slovenian">Slovenian</option>
										<option value="solomon islander">Solomon Islander</option>
										<option value="somali">Somali</option>
										<option value="south african">South African</option>
										<option value="south korean">South Korean</option>
										<option value="spanish">Spanish</option>
										<option value="sri lankan">Sri Lankan</option>
										<option value="sudanese">Sudanese</option>
										<option value="surinamer">Surinamer</option>
										<option value="swazi">Swazi</option>
										<option value="swedish">Swedish</option>
										<option value="swiss">Swiss</option>
										<option value="syrian">Syrian</option>
										<option value="taiwanese">Taiwanese</option>
										<option value="tajik">Tajik</option>
										<option value="tanzanian">Tanzanian</option>
										<option value="thai">Thai</option>
										<option value="togolese">Togolese</option>
										<option value="tongan">Tongan</option>
										<option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
										<option value="tunisian">Tunisian</option>
										<option value="turkish">Turkish</option>
										<option value="tuvaluan">Tuvaluan</option>
										<option value="ugandan">Ugandan</option>
										<option value="ukrainian">Ukrainian</option>
										<option value="uruguayan">Uruguayan</option>
										<option value="uzbekistani">Uzbekistani</option>
										<option value="venezuelan">Venezuelan</option>
										<option value="vietnamese">Vietnamese</option>
										<option value="welsh">Welsh</option>
										<option value="yemenite">Yemenite</option>
										<option value="zambian">Zambian</option>
										<option value="zimbabwean">Zimbabwean</option>
									  </select>

								</td>
							</tr>
							<tr>
								<td >Player's ID<br>
									<input type="text" name="id" onfocus="this.value=''" placeholder="ID">
								</td>
								
							
								
								<td>Player's position
									<select name="special" form="special">
										<option value="" disabled selected>Select your option</option>
										<option value="computer_science">Goal-Keeper</option>
										<option value="software_engineering">Defender</option>
										<option value="business_Information_Systems">Mid-Fielder</option>
										<option value="business_managment">Forward</option>
									</select>

								</td>
								<td>Player's value
									$ <input type="number" name="value" min="0.00" max="10000000000.00" step="10000" placeholder="$ 0"  />
								</td>
							
								<td>Player's Wage
									$ <input type="number" name="wage" min="0.00" max="10000000000.00" step="10000" placeholder="$ 0" />
								</td>
							
								
							</tr>
							<hr>
							<tr>
								<h3>Player Statistics</h3>
							</tr>
							<tr>
								<td>International Reputation
									<input type="text" name="reputation" onfocus="this.value=''" placeholder="Reputaion">  
								</td>
							
								<td>Weak Foot
									<select name="weak_foot" form="weak_foot">
										<option value="" disabled selected>Select your option</option>
										<option value="computer_science">Left</option>
										<option value="software_engineering">Right</option>
									</select>

								</td>
							
								<td>Skill Moves
									<select name="special" form="special">
										<option value="" disabled selected>Select your option</option>
										<option value="computer_science">#</option>
										<option value="software_engineering">#</option>
										<option value="business_Information_Systems">#</option>
										<option value="business_managment">#</option>
									</select>

								</td>
					
								<td>Jersey Number
									No. <input type="number" name="wage" min="0" max="100" step="1" placeholder="0"  />
								</td>
								
								<td>Crossing
									(%) <input type="number" name="wage" min="0" max="100" step="5" placeholder="0" />
								</td>	
							</tr>
							<tr>
								<td>Finishing
									(%) <input type="number" name="finishing" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Heading Accuracy
									(%) <input type="number" name="heading" min="0" max="100" step="5" placeholder="0" />
								</td>	
								<td>Short Passing
									(%) <input type="number" name="short_passing" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Volleys
									(%) <input type="number" name="volleys" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Dribbling
									(%) <input type="number" name="dribbling" min="0" max="100" step="5" placeholder="0" />
								</td>
							</tr>
							
							<tr>
								<td>Curve
									(%) <input type="number" name="curve" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Free Kick Accuracy
									(%) <input type="number" name="fk_accuracy" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Long Passing
									(%) <input type="number" name="long_passing" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Ball Control
									(%) <input type="number" name="ball_control" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Acceleration
									(%) <input type="number" name="acceleration" min="0" max="100" step="5" placeholder="0" />
								</td>
							</tr>

							<tr>
								<td>Sprint Speed
									(KM/H) <input type="number" name="sprint_speed" min="0" max="300" step="5" placeholder="0" />
								</td>
								<td>Agility
									(%) <input type="number" name="agility" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Reactions
									(%) <input type="number" name="reactions" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Balance
									(%) <input type="number" name="balance" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Shot Power
									(%) <input type="number" name="shot_power" min="0" max="100" step="5" placeholder="0" />
								</td>
							</tr>

							<tr>
								<td>Jumping
									(%) <input type="number" name="jumping" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Stamina
									(%) <input type="number" name="stamina" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Strength
									(%) <input type="number" name="strength" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Long Shots
									(%) <input type="number" name="long_shots" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Aggression
									(%) <input type="number" name="aggression" min="0" max="100" step="5" placeholder="0" />
								</td>
							</tr>

							<tr>
								<td>Interceptions
									(%) <input type="number" name="interceptions" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Positioning
									(%) <input type="number" name="positioning" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Vision
									(%) <input type="number" name="vision" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Penalties
									(%) <input type="number" name="penaltities" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Composure
									(%) <input type="number" name="composure" min="0" max="100" step="5" placeholder="0" />
								</td>
							</tr>

							<tr>
								<td>Marking
									(%) <input type="number" name="marking" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Standing Tackle
									(%) <input type="number" name="standing_tackle" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Sliding Tackle
									(%) <input type="number" name="Sliding_tackle" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Goal-Keeper Diving
									(%) <input type="number" name="GKDiving" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Goal-Keeper Handling
									(%) <input type="number" name="GKHandling" min="0" max="100" step="5" placeholder="0" />
								</td>
							</tr>

							<tr>
								<td>Goal-Keeper Kicking
									(%) <input type="number" name="GKKicking" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Goal-Keeper Positioning
									(%) <input type="number" name="GKPositioning" min="0" max="100" step="5" placeholder="0" />
								</td>
								<td>Goal-Keeper Reflexes
									(%) <input type="number" name="GKReflexes" min="0" max="100" step="5" placeholder="0" />
								</td>
							</tr>

					</table>
			</fieldset>
					<fieldset id="a">
						<div id="left">
							<input type="submit" value="Submit"> 
						
							<input type="reset" value="Reset">
						</div>
					</fieldset>
		</form>

				
		
  </section>
  

  
  

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

 
  
</body>