<div class = "main ">
    <h3>Player Posotions</h3>
    <button type="button" class = "btn">Goal Keeper</button><br>
    <button type="button" class = "btn">Central MidFielder</button><br>
    <button type="button" class = "btn">Left Wing Back</button><br>
    <button type="button" class = "btn">Right Wing Back </button><br>
    <button type="button" class = "btn">Right Wing Attacker </button><br>
    <button type="button" class = "btn">Left Wing Attaker  </button><br>
    <button type="button" class = "btn">Right Central MidFielder </button><br>
    <button type="button" class = "btn">Left Central MidFielder </button><br>
    <button type="button" class = "btn">Striker </button><br>
    <button type="button" class = "btn">Left Central Defender</button><br>
    <button type="button" class = "btn">Right Central Defender </button><br>
   
  </div>
  
